<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{#if meta.title}}{{{meta.title}}}{{else}}Latest News Headlines and Videos{{/if}} - Newsblock </title>
  <link rel="canonical" href="https://newsblock.io{{routepath}}" />
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="//cdn.getnewsblock.com/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//cdn.getnewsblock.com/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//cdn.getnewsblock.com/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//cdn.getnewsblock.com/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//cdn.getnewsblock.com/icons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//cdn.getnewsblock.com/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//cdn.getnewsblock.com/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//cdn.getnewsblock.com/icons/apple-touch-icon-152x152.png" />
  <!--<link rel="icon" type="image/png" href="http://cdn.getnewsblock.com/icons/favicon-196x196.png" sizes="196x196" />-->
  <!--<link rel="icon" type="image/png" href="http://cdn.getnewsblock.com/icons/favicon-96x96.png" sizes="96x96" />-->
  <!--<link rel="icon" type="image/png" href="http://cdn.getnewsblock.com/icons/favicon-32x32.png" sizes="32x32" />-->
  <!--<link rel="icon" type="image/png" href="http://cdn.getnewsblock.com/icons/favicon-16x16.png" sizes="16x16" />-->
  <link rel="icon" type="image/png" href="//cdn.getnewsblock.com/icons/favicon-128.png" sizes="128x128" />

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="mstile-144x144.png" />
  <meta name="msapplication-square70x70logo" content="mstile-70x70.png" />
  <meta name="msapplication-square150x150logo" content="mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="mstile-310x310.png" />
  <meta property="fb:app_id" content="871028449681716"/>
  <meta property="og:site_name" content="Newsblock" />
  <meta property="og:description" content="{{meta.summary}}" />
  <meta property="og:title" content="{{meta.socialTitle}}" />
  <meta property="og:url" content="https://newsblock.io{{routepath}}" />
  <meta property="og:image" content="{{meta.image}}" />
  {{#if video}}
      <meta property="og:type" content="video">
      <meta property="og:video" content="https://www.youtube.com/v/{{video.videoId}}" />
  {{else}}
      <meta property="og:type" content="article" />
  {{/if}}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@getnewsblock" />
  <meta name="twitter:title" content="{{meta.socialTitle}}" />
  <meta name="twitter:description" content="{{meta.summary}}" />
  <meta name="twitter:creator" content="@getnewsblock" />
  <meta name="twitter:domain" content="newsblock.io" />
  <meta name="twitter:image" content="{{meta.image}}" />

  {{!--<link rel="stylesheet" href="//cdn.jsdelivr.net/weather-icons/0.0.1/css/weather-icons.min.css"/>--}}
  <link rel="stylesheet" href="/{{cssPath 'css/style.css'}}">
  <noscript>
    <link href='//fonts.googleapis.com/css?family=Source+Serif+Pro:700' rel='stylesheet' type='text/css'>
  </noscript>
<script type="text/javascript" id="gretaScript" src="https://cdn.greta.io/greta.min.js" data-lazy="true" data-ac="abb45ea61feb3c6cc685558c55e5adc8"></script>
{{#if devmode}}
  <script>GRETA_DEBUG = false;</script>
{{/if}}

<script>
    // GA
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-372716-19', 'auto');
    ga('send', 'pageview');

</script>
  <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{assetPath 'css/style.css'}}">
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->
{{> webfontconfig}}

    <link rel="manifest" href="mobile-manifest.json">
</head>
