<div class="entry--meta-wrapper">
  <div class="entry--meta entry--pub" itemprop="publisher">
      {{>imgFavicon}} {{publisher}}</div>
  <time class="entry--meta entry--time" datetime="{{datetime published}}" itemprop="datePublished">{{formatdate published}}</time>
    {{#if stats.total}}
        <div class="entry--meta entry--shares">{{stats.total}} shares</div>
    {{/if}}
  <a title="Discuss: {{headline}}" class="entry--meta entry--meta-last entry--discuss" href="/s/{{_id}}"><i class="ion-chatbubble" aria-hidden="true"></i> discuss</a>
  {{!--<meta itemprop="interactionCount" content="UserTweets:{{stats.tweetcount}}"/>--}}
</div>
