<div class="entry entry--post no-summary" itemscope itemtype="http://schema.org/Article">
  {{#if importedImg}}
    <div class="entry--img-sm">
        <a title="{{headline}}" href="{{url}}" target="_blank" title="{{headline}}">
            {{>imgStorythumb}}
        </a>
    </div>
  {{/if}}
  <div class="entry--txt entry--txt-heading">
    <h4 itemprop="name headline">
        <a title="{{headline}}" href="{{url}}" target="_blank">{{{headline}}}</a>
    </h4>
  </div>
  {{> entrymeta}}
</div>
