<div class="entry entry--post has-summary" itemscope itemtype="http://schema.org/Article">
  {{#if importedImg}}
    <div class="entry--img-sm">
        <a {{#if xampurl}} href="/s/{{_id}}" {{else}} href="{{url}}" target="_blank" {{/if}}>
          {{>imgStorythumb}}
        </a>
    </div>
  {{/if}}
  <div class="entry--txt entry--txt-heading">
    <h4 itemprop="name headline">
        <a {{#if xampurl}} href="/s/{{_id}}" {{else}} href="{{url}}" target="_blank" {{/if}}>{{{headline}}}</a>
    </h4>
    {{> entrymeta}}
  </div>
  <div class="entry--txt entry--txt-summary entry--txt-summary-collapse">
    <p>{{{summary}}}</p>
  </div>
    {{> jssummarybtn}}
</div>
