<div class="col--alpha">
  <div class="col--alpha-gutter">
      {{#if leadstory}}
    <div class="heading--group heading--group-alt">
      <h3 class="h5 heading--alt heading--alt-headlines">The Lead
        <i class="ion-arrow-graph-up-right"></i></h3>
    </div>
    <div class="entry--lead-wrapper">
        <div class="entry entry--post entry--lead has-summary" itemscope itemtype="http://schema.org/Article">
          <div class="entry--relative">
            {{#if leadstory.importedImg}}
              <div class="entry--img-lead">
                <a href="{{leadstory.url}}" target="_blank"><img class="img-responsive entry--img" src="{{imgurl leadstory}}" data-image="{{leadstory.image}}" alt="{{{leadstory.headline}}}"/></a>
              </div>
            {{/if}}
            <div class="entry--txt entry--txt-heading">
              <h4 class="entry--lead-heading" itemprop="name headline">
                <a href="{{leadstory.url}}" target="_blank">{{{leadstory.headline}}}</a>
              </h4>

              <div class="entry--meta-wrapper">
                <div class="entry--meta entry--pub" itemprop="publisher">
                  <img src="http://cdn.getnewsblock.com/icons/000000-0.5.png" data-src="{{favicon-url leadstory.publisherInfo.domain}}" alt="{{leadstory.publisher}}"> {{leadstory.publisher}}
                </div>
                <time class="entry--meta entry--time" datetime="{{datetime leadstory.published}}" itemprop="datePublished">{{formatdate leadstory.published}}
                </time>
                <div class="entry--meta entry--shares">{{leadstory.stats.total}}
                  shares
                </div>
                <a class="entry--meta entry--meta-last entry--discuss" href="/s/{{leadstory._id}}"><i class="ion-chatbubble" aria-hidden="true"></i>
                  discuss</a>
                <meta itemprop="interactionCount" content="UserTweets:{{leadstory.stats.tweetcount}}"/>
              </div>
            </div>
          </div>
          {{#if leadstory.summary}}
            <div class="entry--txt entry--txt-summary entry--txt-summary-collapse">
              <p>{{{leadstory.summary}}}</p>
            </div>
            {{> jssummarybtn}}
          {{/if}}
        </div>
    </div>
      {{/if}}
    <div id="trending">
      {{> trending}}
    </div>
    <div id="latest">
      <div class="heading--group">
        {{#if sections}}
          <div class="heading--alt heading--alt-anchor">
            <a href="#trending">Trending <i class="ion-chatbubbles"></i></a>
          </div>
        {{/if}}
        <h3 class="h5 heading--alt heading--alt-headlines">Latest
          <i class="ion-clock"></i></h3>
        {{#if videos}}
          <div class="heading--alt heading--alt-anchor">
            <a href="#videos">Videos <i class="ion-ios-videocam"></i></a>
          </div>
        {{/if}}
      </div>
      {{#each-slice stories 0 40}}
        {{#if summary}}
          {{> entrysummary}}
        {{else}}
          {{> entry}}
        {{/if}}
      {{/each-slice}}
    </div>
  </div>
</div>

{{#if videos}}
  <div id="videos" class="col--beta">
    <div class="col--beta-gutter">
      <div class="heading--group">
        {{#if sections}}
          <div class="heading--alt heading--alt-anchor">
            <a href="#trending">Trending <i class="ion-chatbubbles"></i></a>
          </div>
        {{/if}}
        <div class="heading--alt heading--alt-anchor">
          <a href="#latest">Latest <i class="ion-clock"></i></a>
        </div>
        <h3 class="h5 heading--alt heading--alt-headlines">Videos
          <i class="ion-ios-videocam"></i></h3>
      </div>

        {{!--- the first video (critical images) --}}
        <div class="entry entry--post" itemscope itemtype="http://schema.org/VideoObject">
            {{#if videos.[0].thumbnails}}
                <div class="entry--img-md align-middle">
                    <a class="yt-link" data-videoid="{{videos.[0].videoId}}" href="http://www.youtube.com/watch?v={{videos.[0].videoId}}">
                        <i data-videoid="{{videos.[0].videoId}}" class="icon--play ion-ios-play-outline"></i>
                        <img data-videoid="{{videos.[0].videoId}}" class="img-responsive entry--img" src="http://cdn.getnewsblock.com/icons/000000-0.5.png" data-src="{{videos.[0].thumbnails.medium.url}}" alt="{{videos.[0].title}}" itemprop="thumbnail"/>
                    </a>
                    </a>
                </div>
            {{/if}}
            <div class="entry--txt entry--txt-video">
                <h4 class="h6" itemprop="name">
                    <a class="yt-link" data-videoid="{{videos.[0].videoId}}" href="http://www.youtube.com/watch?v={{videos.[0].videoId}}">{{{videos.[0].title}}}</a>
                </h4>
                <div class="entry--meta-wrapper">
                    <div class="entry--meta entry--pub">{{videos.[0].channelTitle}}</div>
                    <time class="entry--meta entry--time" datetime="{{datetime videos.[0].published}}" itemprop="datePublished">{{formatdate videos.[0].publishedAt}}</time>
                    <div class="entry--meta entry--views">{{videos.[0].stats.viewCount}} views
                    </div>
                    <a class="entry--meta entry--meta-last entry--discuss entry--meta-last" href="/v/{{videos.[0].videoId}}"><i class="ion-chatbubble" aria-hidden="true"></i>
                        discuss</a>
                    <meta itemprop="interactionCount" content="UserPlays:{{videos.[0].stats.viewCount}}"/>
                </div>
            </div>
        </div>

       {{!--- the remaining videos (defer loaded images) --}}
      {{#each-slice videos 1 30}}
        <div class="entry entry--post" itemscope itemtype="http://schema.org/VideoObject">
          {{#if thumbnails}}
            <div class="entry--img-md align-middle">
              <a class="yt-link" data-videoid="{{videoId}}" href="http://www.youtube.com/watch?v={{videoId}}">
                <i data-videoid="{{videoId}}" class="icon--play ion-ios-play-outline"></i>
                <img data-videoid="{{videoId}}" class="img-responsive entry--img" src="http://cdn.getnewsblock.com/icons/000000-0.5.png" data-src="{{thumbnails.medium.url}}" alt="{{title}}" itemprop="thumbnail"/>
              </a>
              </a>
            </div>
          {{/if}}
          <div class="entry--txt entry--txt-video">
            <h4 class="h6" itemprop="name">
              <a class="yt-link" data-videoid="{{videoId}}" href="http://www.youtube.com/watch?v={{videoId}}">{{{title}}}</a>
            </h4>
            <div class="entry--meta-wrapper">
              <div class="entry--meta entry--pub">{{channelTitle}}</div>
              <time class="entry--meta entry--time" datetime="{{datetime published}}" itemprop="datePublished">{{formatdate publishedAt}}</time>
              <div class="entry--meta entry--views">{{stats.viewCount}} views
              </div>
              <a class="entry--meta entry--meta-last entry--discuss entry--meta-last" href="/v/{{videoId}}"><i class="ion-chatbubble" aria-hidden="true"></i>
                discuss</a>
              <meta itemprop="interactionCount" content="UserPlays:{{stats.viewCount}}"/>
            </div>
          </div>
        </div>
      {{/each-slice}}
    </div>
  </div>
  {{> player}}
{{/if}}
